In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

In [5]:
# Reading the 'tmdb_5000_movies.csv' file into a pandas DataFrame named 'movies'
# This file likely contains information about movies, such as titles, genres, budget, revenue, etc.
movies = pd.read_csv('tmdb_5000_movies.csv') 
# Reading the 'tmdb_5000_credits.csv' file into another pandas DataFrame named 'credits'
# This file likely contains information about movie credits, such as cast and crew details
credits = pd.read_csv('tmdb_5000_credits.csv')

In [6]:
# The 'head()' function in pandas is used to display the first few rows of a DataFrame.
# By default, it shows the first 5 rows, but you can specify a number as an argument to display a specific number of rows.

# Here, 'movies.head(2)' will display the first 2 rows of the 'movies' DataFrame.
# This is useful for quickly inspecting the data to understand its structure and contents
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [7]:
movies.shape

(4803, 20)

In [8]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
# The 'merge()' function in pandas is used to combine two DataFrames based on a common column.
# Here, we are merging the 'movies' DataFrame with the 'credits' DataFrame.
# The 'on='title'' specifies that the merge will be performed based on the 'title' column, 
# which is assumed to be present in both DataFrames.
movies = movies.merge(credits,on='title')

In [10]:
#genres 
#id
#title
#keywords
#title
#overview
#cast
#crew in crew there is director information some people watch movies on the basis of there favourite director.
# This line is used to select specific columns from the 'movies' DataFrame.
# The syntax 'movies[['col1', 'col2', ...]]' creates a new DataFrame that contains only the specified columns.

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [11]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
# The 'ast' module in Python stands for "Abstract Syntax Tree".
# It provides tools to work with Python's internal representation of code,
# including parsing, analyzing, and manipulating Python code.
# The module can be useful for tasks like converting strings to Python objects
# or analyzing the structure of Python code.

import ast

In [13]:
def convert(text):
    L = []  # Initialize an empty list to store the result
    
    # Convert the input 'text' string to a Python literal (e.g., a list of dictionaries) using ast.literal_eval
    for i in ast.literal_eval(text):  # Iterate over each item in the evaluated list (assumed to be a list of dictionaries)
        # For each dictionary (i), extract the value associated with the 'name' key and append it to the list L
        L.append(i['name'])  
    
    # Return the list L containing all the 'name' values
    return L

In [14]:
movies.dropna(inplace=True) 
# Remove all rows with missing values (NaN) from the DataFrame 'movies'
# The 'dropna()' method is used to drop any rows that contain at least one NaN value.

In [15]:
movies['genres'] = movies['genres'].apply(convert)
# After applying the 'convert' function to the 'genres' column, we display the first few rows of the updated DataFrame.
# This is useful to check the changes made by the function.
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [17]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [18]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [19]:
movies['cast'] = movies['cast'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [21]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [22]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [23]:

#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
2374,27380,Megaforce,Megaforce is an elite multi-national military ...,"[Adventure, Action, Science Fiction]","[dictator, soldier, electronic music score, mi...","[Barry Bostwick, Michael Beck, Persis Khambatta]",[Hal Needham]
654,36648,Blade: Trinity,"For years, Blade has fought against the vampir...","[Science Fiction, Action, Horror, Thriller, Ad...","[fbi, dracula, fistfight, vampire hunter, supe...","[Wesley Snipes, Kris Kristofferson, Dominic Pu...",[David S. Goyer]
2886,86825,Stoker,"After India's father dies, her Uncle Charlie, ...","[Drama, Horror, Thriller]",[mystery],"[Mia Wasikowska, Nicole Kidman, Matthew Goode]",[Park Chan-wook]
2565,17880,Because of Winn-Dixie,"A girl, abandoned by her mother when she was t...","[Comedy, Drama, Family]",[],"[Jeff Daniels, AnnaSophia Robb, Cicely Tyson]",[Wayne Wang]
1434,268920,Hot Pursuit,An uptight by-the-book cop must protect the wi...,"[Action, Comedy, Crime]","[texas, prisoner, cop, drug cartel, on the run...","[Reese Witherspoon, Sofía Vergara, Michael Mos...",[Anne Fletcher]

In [24]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [25]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [26]:

movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [27]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())
# The 'apply()' function is used to apply a transformation to each element in the 'overview' column.
# The lambda function inside 'apply()' takes each value (a string) from the 'overview' column and splits it into a list of words.
# The 'split()' method breaks a string into a list based on spaces (by default) between words.

In [28]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
# This line combines multiple columns ('overview', 'genres', 'keywords', 'cast', and 'crew') into a single new column 'tags'.

In [29]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
#new.head()

In [30]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
# This line applies a transformation to the 'tags' column of the 'new' DataFrame.

new.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [31]:
# Importing the CountVectorizer class from sklearn's feature_extraction.text module.
# CountVectorizer is used to convert a collection of text documents into a matrix of token counts.
# It also provides options to filter out stop words and limit the number of features (words).
from sklearn.feature_extraction.text import CountVectorizer
# Creating an instance of CountVectorizer with the following options:
# - 'max_features=5000': Limits the number of features (words) to the top 5000 most frequent words in the dataset.
# - 'stop_words='english'': Removes common English stop words (e.g., 'the', 'is', 'in', etc.) from the text data.
cv = CountVectorizer(max_features=5000,stop_words='english')

In [32]:


# This line applies the CountVectorizer to the 'tags' column in the 'new' DataFrame.
# The 'fit_transform()' method learns the vocabulary from the 'tags' column and transforms the text into a feature matrix.
# The 'toarray()' method converts the resulting sparse matrix into a dense numpy array.
vector = cv.fit_transform(new['tags']).toarray()

In [33]:
vector.shape

(4806, 5000)

In [34]:
# Importing the cosine_similarity function from sklearn.metrics.pairwise.
# Cosine similarity is a metric used to measure how similar two vectors are, based on the cosine of the angle between them.
# It is commonly used to compare text data, especially when vectors represent text documents, like the movie features in this case.
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
# This line calculates the cosine similarity between all pairs of movies based on their feature vectors.
# 'vector' contains the feature matrix obtained from the 'tags' column after applying CountVectorizer.
# cosine_similarity() computes the similarity between the feature vectors, returning a similarity matrix.

similarity = cosine_similarity(vector)

In [36]:
similarity

array([[1.        , 0.08858079, 0.05905386, ..., 0.02478408, 0.02599376,
        0.        ],
       [0.08858079, 1.        , 0.06451613, ..., 0.02707652, 0.        ,
        0.        ],
       [0.05905386, 0.06451613, 1.        , ..., 0.02707652, 0.        ,
        0.        ],
       ...,
       [0.02478408, 0.02707652, 0.02707652, ..., 1.        , 0.07150969,
        0.0489116 ],
       [0.02599376, 0.        , 0.        , ..., 0.07150969, 1.        ,
        0.05129892],
       [0.        , 0.        , 0.        , ..., 0.0489116 , 0.05129892,
        1.        ]])

In [ ]:
new[new['title'] == 'The Lego Movie'].index[0]

np.int64(744)

In [2]:
# This function provides movie recommendations based on the cosine similarity between movies.
# It takes the title of a movie as input, finds the index of that movie in the 'new' DataFrame,
# and then uses the similarity matrix to recommend the top 5 most similar movies.

def recommend(movie):
    # Find the index of the movie in the 'new' DataFrame based on its title.
    index = new[new['title'] == movie].index[0]
    
    # Get the similarity scores of the movie at the found index.
    # The similarity scores are sorted in descending order based on the similarity value.
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    
    # Loop through the sorted list of distances (skipping the first element, which is the movie itself).
    # The top 5 most similar movies are printed.
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [ ]:

recommend('Avatar')

Titan A.E.
Small Soldiers
Ender's Game
Aliens vs Predator: Requiem
Independence Day

In [42]:

import pickle

In [43]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [48]:
import pickle

# Assuming `new` is your DataFrame
with open('movie_dict.pkl', 'wb') as file:
    pickle.dump(new.to_dict(), file)